<html>

<head>
    <title>grunt-html-build - Test Page</title>
    <link type="text/css" rel="stylesheet" href="../fixtures/css/libs.css" />
    <link type="text/css" rel="stylesheet" href="../fixtures/css/dev.css" />
    <link type="text/css" rel="stylesheet/less" href="../fixtures/css/another.less" />
    <link type="text/css" rel="stylesheet" media="screen and (max-width: 480px)" href="../fixtures/css/libs.css" />
    <link type="text/css" rel="stylesheet" media="screen and (max-width: 480px)" href="../fixtures/css/dev.css" />
    <link type="text/css" rel="stylesheet/less" media="screen and (max-width: 480px)" href="../fixtures/css/another.less" />
    <style>
        .this-is-inline {
            font-weight: bold;
        }
    </style>
    <style media="screen and (max-width: 480px)">
        .this-is-inline {
            font-weight: bold;
        }
    </style>
</head>

<body id="landing-page">
    <div id="view-recursive">
        <!-- build:process -->
        <h1><%= title %> - <%= version %></h1>
        <!-- /build -->
    </div>

    <div id="view1"> ... </div>

    <div id="view2"> ... </div>

    <div id="view3"> ... </div>

    <div id="view-recursive">
        <h1>test - 0.1.0</h1>
    </div>
    <div id="view1"> ... </div>
    <div id="view2"> ... </div>
    <div id="view3"> ... </div>

    <script type="text/javascript" src="../fixtures/scripts/app.js"></script>
    <script type="text/javascript" src="../fixtures/scripts/libs.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery/2.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        var version = "0.1.0";
    </script>
    <script type="text/javascript">
        var version = "<%= version %>";
    </script>
    <script type="text/javascript">
        var version = "0.1.0",
            title = "test";
    </script>
    <script type="text/javascript">
        var version = "0.1.0",
            title = "test";
    </script>
    <script type="text/javascript" defer src="../fixtures/scripts/main.js"></script>
    <script type="text/javascript" async src="../fixtures/scripts/main.js"></script>
    <script type="text/javascript">
        productionMain();
    </script>

</body>

</html>